body {
    color: red;
}

.display-3 {
    color: blue;
}

.jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 10px;
}

.jumbotron h1 {
    font-size: 2em;
    font-weight: bold;
}

.jumbotron h1,
.jumbotron p {
    text-align: center;
}

.jumbotron p {
    font-size: 1em;
}

.form-control {
    width: 200px;
}

#googleMap {
    width: 400px;
    height: 400px;
    margin: 20px auto;
}